.header-container {
    .el-menu {
        .el-menu-item {
            transition: border-top-color 0s;
            color: $theme-header-item-color;
            background: $theme-header-item-background-color;
            i.fa {
                color: inherit;
            }
            &:hover {
                color: $theme-header-item-color-hover;
                background: $theme-header-item-background-color-hover;
                i.fa {
                    color: inherit;
                }
            }
            &:focus {
                color: $theme-header-item-color-focus;
                background: $theme-header-item-background-color-focus;
                i.fa {
                    color: inherit;
                }
            }
            &.is-active {
                color: $theme-header-item-color-active;
                background: $theme-header-item-background-color-active;
                i.fa {
                    color: inherit;
                }
            }
        }
        .el-submenu {
            .el-submenu__title {
                transition: border-top-color 0s;
                color: $theme-header-item-color;
                background: $theme-header-item-background-color;
                i.fa {
                    color: inherit;
                }
                .el-submenu__icon-arrow {
                    color: $theme-header-item-color;
                }
                &:hover {
                    color: $theme-header-item-color-hover;
                    background: $theme-header-item-background-color-hover;
                    i.fa {
                        color: inherit;
                    }
                    .el-submenu__icon-arrow {
                        color: $theme-header-item-color-hover;
                    }
                }
                &:focus {
                    color: $theme-header-item-color-focus;
                    background: $theme-header-item-background-color-focus;
                    i.fa {
                        color: inherit;
                    }
                    .el-submenu__icon-arrow {
                        color: $theme-header-item-color-focus;
                    }
                }
            }
        }
    }
}

.sidebar-container {
    .el-menu {
        .el-menu-item {
            color: $theme-aside-item-color;
            background: $theme-aside-item-background-color;
            i {
                color: $theme-aside-item-color;
            }
            &:hover {
                color: $theme-aside-item-color-hover;
                background: $theme-aside-item-background-color-hover;
                i {
                    color: $theme-aside-item-color-hover;
                }
            }
            &:focus {
                color: $theme-aside-item-color-focus;
                background: $theme-aside-item-background-color-focus;
                i {
                    color: $theme-aside-item-color-focus;
                }
            }
            &.is-active {
                color: $theme-aside-item-color-active;
                background: $theme-aside-item-background-color-active;
                i {
                    color: $theme-aside-item-color-active;
                }
            }
        }
    }
    .el-submenu {
        .el-submenu__title {
            color: $theme-aside-item-color;
            background: $theme-aside-item-background-color;
            i {
                color: $theme-aside-item-color;
            }
            .el-submenu__icon-arrow {
                color: $theme-aside-item-color;
            }
            &:hover {
                color: $theme-aside-item-color-hover;
                background: $theme-aside-item-background-color-hover;
                i {
                    color: $theme-aside-item-color-hover;
                }
                .el-submenu__icon-arrow {
                    color: $theme-aside-item-color-hover;
                }
            }
        }
    }
}
