.app-wrapper {
    @extend %full;
    overflow: hidden;
    $header-height: 50px;
    .header-container {
        height: $header-height;
        .logo-wrapper {
            float: left;
            text-align: center;
            img {
                height: $header-height;
            }
        }
        .menu-wrapper {
            overflow: hidden;
            .el-menu {
                float: left;
                border-bottom: none;
                background-color: transparent;
                %header-menu-item {
                    @extend %unable-select;
                    i.fa {
                        font-size: 16px;
                        margin-right: 4px;
                    }
                }
                .el-menu-item {
                    @extend %header-menu-item;
                    padding: 0 15px;
                    height: 50px !important;
                    line-height: 50px !important;
                    border-bottom: none;
                }
            }
        }
        .header-right {
            float: right;
            margin-top: 5px;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-align: center;
            align-items: center;
            .btn-text {
                color: #606266;
                padding: 14px 12px;
                border-radius: 4px;
                margin: 0 !important;
                margin-left: 5px !important;
                i {
                    font-size: 16px;
                }
            }
        }
        .sidebar-btn {
            float: left;
            height: $header-height;
            width: 60px;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-pack: center;
            justify-content: center;
            -ms-flex-align: center;
            align-items: center;
            i {
                font-size: 18px;
                cursor: pointer;
            }
        }
    }
    .sidebar-container {
        position: absolute;
        top: $header-height;
        bottom: 0;
        left: 0;
        font-size: 0;
        overflow: hidden;
        box-sizing: border-box;
        .horizontal-collapse-transition {
            transition: 0s width ease-in-out, 0s padding-left ease-in-out, 0s padding-right ease-in-out;
        }
        .scrollbar-wrapper {
            height: 100%;
            overflow-x: hidden !important;
        }
        .is-horizontal {
            display: none;
        }
        a {
            display: inline-block;
            width: 100%;
            overflow: hidden;
        }
        .el-menu {
            @extend %unable-select;
            background-color: transparent;
            border-right: none;
            .el-menu-item {
                i {
                    margin-left: 4px;
                    margin-right: 5px;
                    font-size: 16px;
                }
            }
        }
        .el-submenu {
            @extend %unable-select;
            .el-submenu__title {
                i {
                    margin-left: 4px;
                    margin-right: 5px;
                    font-size: 16px;
                }
                .el-submenu__icon-arrow {
                    margin-top: -10px;
                }
            }
        }
        .empty-aside {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 160px;
            margin: 0px 10px 10px;
            border-radius: 4px;
            font-size: 14px;
            @extend %unable-select;
        }
    }
    .main-container {
        position: absolute;
        top: 55px;
        right: 0px;
        bottom: 0px;
        .tags-nav {
            height: 32px;
            padding: 5px;
            padding-right: 126px;
            .el-tabs--card>.el-tabs__header {
                border: none;
                margin: 0;
                .el-tabs__nav-next,
                .el-tabs__nav-prev {
                    line-height: 30px
                }
                .el-tabs__nav {
                    border: none
                }
                .el-tabs__item {
                    margin: 0 3px;
                    height: 30px;
                    line-height: 30px;
                    font-size: 13px;
                    font-weight: 400;
                    border: 1px solid #d8d8d8;
                    color: #777;
                    border-radius: 3px;
                    &.is-active {
                        border: 1px solid #409eff;
                        color: #409eff;
                    }
                }
            }
        }
        .page-view {
            position: absolute;
            top: 45px;
            left: 0px;
            right: 0px;
            bottom: 0px;
            padding: $pageview-padding;
            overflow-x: hidden;
            .el-scrollbar__wrap {
                overflow-x: hidden;
            }
        }
    }
}
